body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.dd-bg-vegetable {
  background-color: darkgreen;
}

.dd-bg-fruit {
  background-color: yellowgreen;
}

.dd-bg-carbohydrate {
  background-color: deepskyblue;
}

.dd-bg-protein-diary {
  background-color: royalblue;
}

.dd-bg-fat {
  background-color: orange;
}

.dd-bg-sweet {
  background-color: red;
}

.dd-calorie-label {
  font-family: Arial Narrow, Arial, sans-serif;
}

.dd-x-small-font {
  font-size: x-small;
}

.dd-foot-note {
  font-size: smaller;
}

.dd-calorie-summary {
  min-width: 90px;
}

.dd-blue-color {
  color: var(--bs-blue);
}

.dd-chart-best-choice-column {
  fill: var(--bs-blue);
}

.dd-chart-others-column {
  fill: #ced4da;
}

@media (min-width: 576px) {
  .dd-serving-cell-calorie {
    font-size: calc(1.325rem + 0.9vw) !important;
  }
}